.container {
    display: flex;
    gap: 12px;
    justify-content: space-between;

    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.completed {
    background: linear-gradient(45deg,
    rgba(76, 175, 80, 0.1) 0%,
    rgba(76, 175, 80, 0.3) 50%,
    rgba(255, 255, 255, 0.8) 100%);
    backdrop-filter: blur(10px);
}

.controls {
    display: flex;
    gap: 8px;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    color: #007bff;
}
